<template id="about-view">
    <div>
        <h2>Aboutw</h2>
    </div>
</template>

<script type="text/javascript">
    var aboutView = {
        data: function () {
            return {
               
            }
        },
        mounted() {
           
        },
        methods:{
            
        },
        template: '#about-view'
    };
</script>
