<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tourist</title>

    @* JS *@
    @Scripts.Render("~/bundles/scripts")

    @* CSS *@
    @Styles.Render("~/Content/styles")
</head>
<body>
    @RenderSection("mainContent", required: false)

    <div style="height:54px;"></div>
    <div class="container-fluid footer-content">
        <span class="footer-text ">
            &copy;  Copyright 2018 - 2019. Tourist.<br />
            All trademarks and logos are registered by their respective owners.
        </span>
    </div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7ZMMLBCvl7qIv55Sk7PAWQCDxYLfzF0g"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
