<template id="app-login-template">
    <div class="mt-10">
        <button type="button" class="btn btn-default" v-on:click="resetPassword">Reset password</button>
        <div v-if="newPassword" class="mt-20">
            <p>New password: {{ newPassword }}</p>
        </div>
    </div>
</template>

<script type="text/javascript">
    Vue.component('account-login', {
        data: function () {
            return {
                newPassword: null
            }
        },
        mounted: function () {
            this.newPassword = "asdasd";
        },
        methods: {
            resetPassword: function () {
                var self = this;

            }
        },
        template: '#account-password-template',
    });
</script>